async-timeout==5.0.1
setuptools==56.0.0
pyarrow==17.0.0
huggingface-hub==0.27.0
fsspec==2024.9.0
xxhash==3.5.0
pip==23.0.1
aiosignal==1.3.1
multidict==6.1.0
frozenlist==1.5.0
aiohappyeyeballs==2.4.4
requests==2.32.3
yarl==1.15.2
tqdm==4.67.1
datasets==3.1.0
dill==0.3.8
charset-normalizer==3.4.1
multiprocess==0.70.16
propcache==0.2.0
aiohttp==3.10.11
scipy==1.10.1
absl-py==2.3.1
protobuf==5.29.6
llvmlite==0.36.0
Shapely==1.8.5.post1
annotated-types==0.7.0
flake8==7.1.2
narwhals==1.42.1
pip==24.2
pycodestyle==2.12.1
einops==0.8.1
google-auth==2.49.1
Markdown==3.7
matplotlib==3.5.3
pandas==2.0.3
lyft-dataset-sdk==0.0.8
joblib==1.4.2
platformdirs==4.3.6
tabulate==0.9.0
google-auth-oauthlib==1.0.0
decorator==5.2.1
mccabe==0.7.0
jedi==0.19.2
urllib3==2.2.3
pydantic==2.10.6
smmap==5.0.3
tzdata==2026.1
pydantic_core==2.27.2
networkx==2.2
PyWavelets==1.4.1
python-dateutil==2.9.0.post0
pyflakes==3.2.0
mmdet==2.28.2
trimesh==2.35.39
importlib_resources==6.4.5
iopath==0.1.10
Pygments==2.19.2
cachetools==5.5.2
fvcore==0.1.5.post20221221
iniconfig==2.1.0
yapf==0.32.0
termcolor==2.4.0
kiwisolver==1.4.7
tifffile==2023.7.10
executing==2.2.1
mmcv-full==1.6.0
tensorboard-data-server==0.7.2
zipp==3.20.2
portalocker==3.0.0
scikit-image==0.19.3
opencv-python==4.13.0.92
mmsegmentation==0.30.0
mypy_extensions==1.1.0
parso==0.8.6
pyparsing==3.1.4
tomli==2.4.1
pytest==8.3.5
prettytable==3.11.0
numba==0.53.0
traitlets==5.14.3
wandb==0.24.2
pycparser==2.23
typing_extensions==4.13.2
torchvision==0.10.0+cu111
ptyprocess==0.7.0
yacs==0.1.8
contourpy==1.1.1
plyfile==1.0.3
threadpoolctl==3.5.0
setuptools==75.1.0
addict==2.4.0
pyasn1_modules==0.4.2
exceptiongroup==1.3.1
pillow==10.4.0
ipython==8.12.3
plotly==6.6.0
six==1.17.0
certifi==2026.2.25
pycocotools==2.0.7
torchaudio==0.9.0
pathspec==0.12.1
gitdb==4.0.12
oauthlib==3.3.1
fonttools==4.57.0
pytz==2026.1.post1
GitPython==3.1.46
stack-data==0.6.3
numpy==1.21.6
pyasn1==0.6.3
matplotlib-inline==0.1.7
descartes==1.1.0
eval_type_backport==0.3.1
Werkzeug==3.0.6
sentry-sdk==2.57.0
black==24.8.0
MarkupSafe==2.1.5
wheel==0.44.0
requests-oauthlib==2.0.0
tensorboard==2.14.0
PyYAML==6.0.3
grpcio==1.70.0
backcall==0.2.0
terminaltables==3.1.10
prompt_toolkit==3.0.52
torch==1.9.0+cu111
cffi==1.17.1
pluggy==1.5.0
cryptography==46.0.7
idna==3.11
cycler==0.12.1
wcwidth==0.6.0
mmcls==0.25.0
pure_eval==0.2.3
packaging==26.0
scikit-learn==1.3.2
pickleshare==0.7.5
fire==0.7.1
asttokens==3.0.1
pyquaternion==0.9.9
importlib_metadata==8.5.0
pexpect==4.9.0
imageio==2.35.1
click==8.1.8
nuscenes-devkit==1.1.11
mmdet3d==1.0.0rc6
